 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Product Manager with over 10 years of experience in the technology development field. Have grown remote teams from dfifferent parts of the world towards product development success.</p>
                </div>
                <div class="col-lg-4">
                    <p>First hand knowledge in web development, user research and growth. I have collaborated in a variety of projects with interdisciplinary teams from around the world. </p>
                </div>
            </div>
        </div>
    </section>
